/*
 * Styling for Launch (index.html) 
 *
 * =========================================================================
 */

body {
	background-color: black;
}

.home {
	background-color: black;
}

.footer {
	font-weight: 300;
	text-align: center;
	position: fixed;
	background-color: black;
}

#inforWindow {
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}