/*
 * Styling for Launch (index.html) 
 *
 * =========================================================================
 */

body {
	background-color: black;
}

.home {
	background-color: black;
}

.footer {
	font-weight: 300;
	text-align: center;
	position: fixed;
	background-color: black;
}

#inforWindow {
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.photoimgL { 
	margin:10px auto
} 

.photoimgL img { 
	border-radius:50%;
	width: 205px;
	height: 205px
}


.photoimgS { 
	margin:10px auto
} 

.photoimgS img { 
	border-radius:50%;
	width: 70px;
	height: 70px;
}

#Checkbut{
    margin-top: 30px;
}

.checkedInCard {
	border: 1px solid; 
	border-color: #0cb6ff;
}

.card {
	border: 1px solid;
}