/*
 * Styling for Launch (index.html) 
 *
 * =========================================================================
 */

body {
	background-color: black !important;
	font-family: Arial, Helvetica, sans-serif !important;

}

.home {
	background-color: black;
}

.footer {
	font-weight: 300;
	text-align: center;
	position: fixed;
	background-color: black;
}

#inforWindow {
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.photoimgL { 
	margin:10px auto
} 

.photoimgL img { 
	border-radius:50%;
	width: 120px;
	height: 120px;
	border: 2px solid; 
	border-color: #3399FF;
}


.photoimgS { 
	margin:10px auto
} 

.photoimgS img { 
	border-radius:50%;
	width: 65px;
	height: 65px;
	border: 2px solid; 
	border-color: #3399FF;
}

.ava { 
	margin:10px auto
} 

#ava img {
	border-radius:50%;
	width: 47px;
	height: 47px;
	border: 1px solid; 
	border-color: #3399FF;
}

.ui-block-a .ui-icon-heart {
	min-height: 45px;
    min-width: 45px;
}

.ui-block-c .ui-icon-delete {
	min-height: 45px;
    min-width: 45px;
}
.ui-block-c .ui-icon-location {
	min-height: 45px;
    min-width: 45px;
}

#map_canvas {
	border-bottom: 2px solid;
	border-bottom-color: #00FF33;
}

.cardlike{
	font-weight: normal !important;
	font-size: 20px;
	border:none;
}

.detail {
	font-size: 0.7em;
	padding-left: 0%;
	padding-bottom: 10px;
	border-bottom: 1px solid !important;
	border-color: #3399FF!important;
}
#un {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid;
	border-color: #3399FF;
	width: 100%;
	height:38px;
	margin-bottom: 0px; 
	padding-top: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	padding-right: 0px;
}
#pw {
	border: 0px;
	width: 100%;
	height:38px;
	margin-top: 0px; 
	padding-top: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	padding-right: 0px;
}
#login {
	padding-bottom: 3px;
    padding-top: 3px;

}

.ui-listview>.ui-li-static {
    padding: 0em !important;
}

.ui-corner-top {
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0em;
	border-bottom-left-radius: 0em;
}

.ui-corner-bottom {
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
	border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}
.jqx-switchbutton-label-on {
	background: #3399FF;
	font-size: 1em !important;
	color: #FFFF00;
	text-transform: capitalize !important;
}/*switch button off label*/

.jqx-switchbutton-label-off {
	margin-top: -2.8px;
	background: #CC66FF;
	color: #FFFF00;
	font-size: 1em !important;
	text-transform: capitalize !important;
}/*switch button on label*/

.jqx-widget-content {
	border-color: #3399FF !important;
}

.otherColor {
	color:#3399ff;
}
#homeBaseName {
	color: #00FF33;
}
#submit {
	background-color: #CC66FF;
	border-color: #3399FF;
	color: #FFFF00;
}
h3 {
	color: #FFFF00;
}
p {
	color: #CC66FF;
}
